table {
  border: 3px solid black;
  width: auto;
  height: auto;
  
}

.outerCell {
border: 0px solid black;
border-collapse: collapse;
}


.cellTable {
border:none;
}

.even {

padding: 0px;
margin: 0px;
width: auto;
height: auto;
border-collapse: collapse;
border: 1px solid black;

}

.odd {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  width: auto;
  height: auto;



}
